@import "../../styles/variable";

.messages {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: $color-grey-light-2;
}
.custom-paper {
  width: calc(100% - 40px);
  position: absolute;
  top: 96px;
  bottom: 72px;
}
.message-content {
  width: calc(100% - 40px);
  position: absolute;
  overflow: scroll;
  top: 20px;
  bottom: 20px;
}

