*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  box-sizing: border-box;
  @include respond(tab-land) { // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

a{
  &:link,
  &:visited {
    color: $color-primary-dark;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
  }

  &:hover,
  &:active {
    color: $color-primary;
  }
}

// button init

button {
  border: none;
  background: none;
  &:focus {
    outline: none;
  }
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}

input {
  border: none;
  &:focus {
    outline: none;
  }
}
