$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #e67700;
$color-secondary-dark: #ec7272;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-red-light: #ff6b6b;
$color-red-dark: #c92a2a;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
