@import "../../styles/variable";

.title {
  font-size: 2.3rem;
  color: $color-primary-dark;
  margin-bottom: 2rem;
}
.register-form {
  margin: 10rem auto 0 auto;
  background-color: $color-grey-light-2;
}
.button-wrapper {
  display: flex;
  justify-content: center;
}
.register-info {
  font-size: 13px;
  color: $color-grey-dark;
  margin-bottom: 1rem;
}
